@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #5aa9e6;
  --foreground: #242424;
  --background: #ededed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
